In [1]:
#import pandas as pd
#df = pd.DataFrame(np.column_stack(np.array(vmpop[0].searched)))
#df.index = ['CPU 0','CPU 1','CPU 2','CPU 3', 'CPU 4', 'CPU 5', 'CPU 6']
#return df

import pickle

with open('rheoframe.p','rb') as handle:
    df2 = pickle.load(handle)

df2

In [2]:
rheobase = 52.46913580246913

import seaborn as sns
cm = sns.light_palette("red",as_cmap=True)#,center=rheobase)
#cm.set_gamma = rheobase
s = df2.style.background_gradient(cmap=cm)#,center=rheobase)

s

dir(cm)

In [3]:
df2[0][1]

41.666666666666664

In [4]:
import numpy as np

In [5]:
colors1 = [np.abs(rheobase)-np.abs(i) for i in df2[0]]

In [6]:
column1 = [i for i in df2[0]]

In [7]:
colors1

[52.469135802469133,
 10.802469135802468,
 -30.864197530864196,
 -72.53086419753086,
 -114.19753086419752,
 -155.86419753086417,
 -197.53086419753086]

In [8]:
import pandas as pd

In [9]:
#df1=pd.df(column1)
c1 = pd.DataFrame(np.array(column1))

In [10]:
#cm = sns.light_palette("red", as_cmap=True)
#color.append(np.abs(rheobase-x))
colors1 = [np.abs(rheobase)-np.abs(i) for i in df2[0]]
#ax = sns.heatmap(c1, cmap=colors1)
#s = c1.style.background_gradient(cmap=ax)#,center=rheobase)

In [11]:
df2

                0          1          2          3
CPU 0    0.000000  41.666667  48.611111  52.083333
CPU 1   41.666667  48.611111  49.768519  52.469136
CPU 2   83.333333  55.555556  50.925926  52.854938
CPU 3  125.000000  62.500000  52.083333  53.240741
CPU 4  166.666667  62.500000  52.083333  53.240741
CPU 5  208.333333  76.388889  54.398148  54.012346
CPU 6  250.000000  83.333333  55.555556  54.398148